##############################
# Python / Poetry
##############################
__pycache__/
*.py[cod]
*$py.class
*.so

.Python
pythonenv*
.venv/
venv/
ENV/
env/

pip-wheel-metadata/
dist/
build/
develop-eggs/
eggs/
.eggs/
*.egg-info/
*.egg

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.tox/
.nox/

coverage.xml
.coverage
.coverage.*
htmlcov/
.hypothesis/

##############################
# Local env / secrets
##############################
.env
.env.*
.python-version

##############################
# OS files
##############################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
